.cursos {
  background: #151515;
  color: #fff;
}

.cursos-container {
  position: relative;
}
.cursos-container::after {
  content: "";
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: linear-gradient(#da1c1c, #ff7f63);
  position: absolute;
  bottom: -40px;
  left: 20px;
  display: block;
}

.cursos .subtitulo {
  color: #000;
}

.cursos-texto {
  color: #606060;
}

.cursos-texto strong {
  color: #c0c0c0;
}

.cursos-lista {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 60px;
}

.cursos-curso {
  flex: 1;
  background: #0d0d0d;
  padding: 20px;
  border: 1px solid #0b0b0b;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.cursos-instituicao {
  font-size: 0.875rem;
  color: #7b7b7b;
  margin-bottom: 10px;
}

.cursos-titulo {
  font-size: 1.125rem;
  line-height: 1.4;
  margin-bottom: 40px;
  position: relative;
  flex-grow: 1;
}
.cursos-titulo::before {
  content: "";
  width: 4px;
  height: 20px;
  border-radius: 10px 0px 0px 10px;
  background: linear-gradient(#da1c1c, #ff7f63);
  position: absolute;
  left: -25px;
  top: 2px;
}

.cursos-data {
  font-size: 1.125rem;
  color: #7b7b7b;
}

.cursos-outros h3 {
  margin-bottom: 40px;
  font-size: 0.875rem;
  line-height: 1.4;
  text-transform: uppercase;
  color: #606060;
  position: relative;
}
.cursos-outros h3::before {
  display: block;
  content: "";
  width: 24px;
  height: 24px;
  background: url("../img/livro.svg") no-repeat center center;
  position: absolute;
  left: -36px;
  top: -3px;
}

.cursos-outros li {
  font-size: 1.125rem;
  line-height: 1.1;
  margin-bottom: 20px;
  display: flex;
  gap: 2px;
}

.cursos-outros span {
  color: #4d4d4d;
}

.cursos-instituicaoSpan::before {
  content: "/";
}

.cursos-dataSpan {
  text-align: right;
  flex-grow: 1;
}

@media (max-width: 1000px) {
  .cursos-container {
    grid-template-columns: 1fr;
    gap: 40px;
    padding: 60px 20px;
  }
  .cursos .subtitulo {
    color: #fff;
  }
  .cursos .projetos-texto {
    font-size: 1.125rem;
  }
  .cursos-outros h3::before {
    position: initial;
    margin-bottom: 10px;
  }
}

@media (max-width: 550px) {
  .cursos-outros li {
    flex-direction: column;
    gap: 10px;
    margin-bottom: 30px;
  }
  .cursos-instituicaoSpan::before {
    content: "";
  }
  .cursos-dataSpan {
    text-align: initial;
    flex-grow: initial;
  }
}
